In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/kaggle/input/crypto-data/Crypto.csv')

In [3]:
df.head(10)

,name,abbr,crypturl,price,volume24hrs,marketcap,circulatingsupply,maxsupply,totalsupply,date_taken,Unnamed: 10,Unnamed: 11
0,Bitcoin,BTC,https://crypto.com/price/bitcoin,62732.6700,272076.9766,"2,51,418.65",3.065439e+06,8.760525e+08,437497786.1,09-08-2007,NaN,NaN
1,Ethereum,ETH,https://crypto.com/price/ethereum,3027.2200,981408.7883,"5,02,924.62",2.326224e+06,4.440828e+08,705224728.4,13-12-2007,NaN,NaN
2,Tether,USDT,https://crypto.com/price/tether,0.9999,944792.0394,"8,15,637.23",2.207000e+06,6.045101e+08,716566396.6,03-03-2004,NaN,NaN
3,BNB,BNB,https://crypto.com/price/bnb,593.8500,556334.5330,"3,23,746.05",2.400147e+05,1.504519e+08,685308596.6,06-06-2001,NaN,NaN
4,Solana,SOL,https://crypto.com/price/solana,152.5900,866929.0575,"8,05,143.57",2.957790e+06,2.842805e+08,647877254.0,06-08-2019,NaN,NaN
5,USD Coin,USDC,https://crypto.com/price/usd-coin,1.0000,771464.2376,"8,33,864.39",2.180035e+06,5.585818e+08,336092471.7,25-06-2007,NaN,NaN
6,XRP,XRP,https://crypto.com/price/xrp,0.5173,136132.6532,"3,23,475.77",3.100948e+06,8.579002e+08,808459526.5,04-07-2000,NaN,NaN
7,Toncoin,TONCOIN,https://crypto.com/price/toncoin,6.6400,926236.1651,"9,92,150.85",2.680586e+06,5.780902e+06,904600636.3,04-12-2012,NaN,NaN
8,Dogecoin,DOGE,https://crypto.com/price/dogecoin,0.1509,919698.0808,"5,35,294.04",4.078418e+06,4.488936e+08,276603635.7,23-02-2016,NaN,NaN
9,Cardano,ADA,https://crypto.com/price/cardano,0.4643,774687.7486,"1,10,692.81",7.723547e+05,9.279325e+08,423873393.5,15-08-2004,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21347 entries, 0 to 21346
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               21347 non-null  object
 1   abbr               21347 non-null  object
 2   crypturl           21347 non-null  object
 3   price              21347 non-null  float64
 4   volume24hrs        21347 non-null  float64
 5   marketcap          21347 non-null  object
 6   circulatingsupply  21347 non-null  float64
 7   maxsupply          21347 non-null  float64
 8   totalsupply        21347 non-null  float64
 9   date_taken         21347 non-null  object
 10  Unnamed: 10        0 non-null      float64
 11  Unnamed: 11        0 non-null      float64
dtypes: float64(7), object(5)
memory usage: 2.0+ MB

In [5]:
df.isnull().sum()

name                     0
abbr                     0
crypturl                 0
price                    0
volume24hrs              0
marketcap                0
circulatingsupply        0
maxsupply                0
totalsupply              0
date_taken               0
Unnamed: 10          21347
Unnamed: 11          21347
dtype: int64

In [6]:
# Drop the columns 'Unnamed: 10' and 'Unnamed: 11'
df = df.drop(['Unnamed: 10', 'Unnamed: 11'], axis=1)

In [7]:
df = df.drop_duplicates()

In [8]:
# Convert 'date_taken' to datetime with the correct format
df['date_taken'] = pd.to_datetime(df['date_taken'], format='%d-%m-%Y')

# Convert 'marketcap' to numeric (remove commas first)
df['marketcap'] = df['marketcap'].str.replace(',', '').astype(float)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21347 entries, 0 to 21346
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               21347 non-null  object
 1   abbr               21347 non-null  object
 2   crypturl           21347 non-null  object
 3   price              21347 non-null  float64
 4   volume24hrs        21347 non-null  float64
 5   marketcap          21347 non-null  float64
 6   circulatingsupply  21347 non-null  float64
 7   maxsupply          21347 non-null  float64
 8   totalsupply        21347 non-null  float64
 9   date_taken         21347 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), object(3)
memory usage: 1.6+ MB